<!DOCTYPE html>
<html lang="fr">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Mon appli</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='css/style.css') }}">
    {% block css %}{% endblock %}
</head>
<body>
    <nav id="navbar">
        <img src="{{ url_for('static', filename='img/logo.png') }}" alt="logo" width="50">
        <ul id="navbar-items">
            <li class="navbar-item">
                <a href="{{ url_for('routes.index') }}">Accueil</a>
            </li>
            
            
            <li class="navbar-item">
                <a href="{{ url_for('routes.f_acar1') }}">Acar1</a>
            </li>
           
            <li class="navbar-item">
                <a href="{{ url_for('routes.f_acar2') }}">Acar2</a>
            </li>
        </ul> 
    </nav>
    
    <div id="container">
        {% block content %}{% endblock %}
    </div>
    
</body>
</html>