{% extends "base.html" %}
{% block title%} Upload - YouFile {% endblock %}
{% block content %}
<h1>Upload</h1>
<form action="{{ url_for('upload') }}" method="POST" enctype=multipart/form-data>
    <p>
        <label for="title">File Title: </label>
        <input type="text" name="title" id="title" required>
    </p>
    <p>
        <label for="image"> Image :</label>
        <input type="file" name="image" id="image", accept=".webp, .jpeg, .heif, .jpg, .tiff, .psd, .gif, .raw, .bmp, .indd, .png">
    </p>
    <p>
        <label for="file"> File: </label>
        <input type="file" name="file" id="file" required>
    </p>
    <p>
        <label for="fileType">File Type:</label>
        <select name="fileType" id="fileType" required>
            <option value="Archive/Compressed">Archive/Compressed</option>
            <option value="Video">Video</option>
            <option value="Executable">Executable</option>
            <option value="Audio">Audio</option>
            <option value="Datas">Datas</option>
            <option value="Other">Other</option>
        </select>
    </p>
    <p>
        <textarea placeholder="Type your description here..." name="Description" id="Description" required></textarea>
    </p>
    <p>
        <div class="submit">
            <input type="submit" value="Upload">
        </div>
    </p>
</div>
{% endblock %}